In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("https://github.com/prasertcbs/tutorial/raw/master/msleep.csv")
df= df.sample(20,random_state=123)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.40,0.00570,0.920
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.20,NaN,0.112
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.00,0.42300,600.000
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.10,0.00250,0.104
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.60,0.02100,3.600
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.90,0.00350,0.770
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.90,0.17900,6.800
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.60,0.16900,207.501
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.07000,14.000
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.00,0.01250,1.400
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800
71,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.10,NaN,0.205
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.20,0.00400,0.101
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.50,0.04450,3.380

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 69 to 81
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          20 non-null     object
 1   genus         20 non-null     object
 2   vore          18 non-null     object
 3   order         20 non-null     object
 4   conservation  14 non-null     object
 5   sleep_total   20 non-null     float64
 6   sleep_rem     14 non-null     float64
 7   sleep_cycle   9 non-null      float64
 8   awake         20 non-null     float64
 9   brainwt       16 non-null     float64
 10  bodywt        20 non-null     float64
dtypes: float64(6), object(5)
memory usage: 1.9+ KB

In [20]:
## check NA in 'vore' column
df[df.vore.isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

In [21]:
## sckit-learn: SimpleImputer

In [29]:
from sklearn.impute import SimpleImputer

In [36]:
imp = SimpleImputer(strategy="most_frequent") # replace a high value
imp.fit_transform(df[['vore']])

array([['herbi'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['omni'],
       ['herbi'],
       ['carni'],
       ['carni'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['carni']], dtype=object)

In [37]:
df['vore']

69    herbi
75    herbi
4     herbi
78     omni
29    herbi
62      NaN
24     omni
37     omni
76    herbi
31    carni
8     carni
44    carni
9     herbi
71    herbi
59    carni
70    herbi
23    herbi
19     omni
72      NaN
81    carni
Name: vore, dtype: object

In [38]:
df.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.4,0.0057,0.920
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.2,NaN,0.112
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.0025,0.104
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.1,NaN,899.995

In [39]:
imp.fit_transform(df[['vore']])

array([['herbi'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['omni'],
       ['herbi'],
       ['carni'],
       ['carni'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['carni']], dtype=object)

In [40]:
df[df.vore.isna()][['name','vore']]

          name vore
62  Rock hyrax  NaN
72  Musk shrew  NaN

In [43]:
df['vore2'] = imp.fit_transform(df[['vore']])
df[df.vore.isna()][['name','vore','vore2']]

ValueError: 2

In [50]:
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,sleep_rem2
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.40,0.00570,0.920,-99.0
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.20,NaN,0.112,-99.0
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.00,0.42300,600.000,0.7
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.10,0.00250,0.104,2.6
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995,0.4
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.60,0.02100,3.600,0.5
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.90,0.00350,0.770,3.5
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.90,0.17900,6.800,1.2
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.60,0.16900,207.501,1.0
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000,1.5
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.07000,14.000,2.9
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.00,0.01250,1.400,-99.0
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800,-99.0
71,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.10,NaN,0.205,3.0
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180,-99.0
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.20,0.00400,0.101,3.4
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000,0.4
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700,4.9
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048,2.0
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.50,0.04450,3.380,-99.0

In [49]:
imp2 = SimpleImputer(strategy="constant", fill_value='omni')
df['vore3'] = imp2.fit_transform(df[['vore']])
df[df.vore.isna()][['name','vore','vore2','vore3']]

ValueError: 2

In [51]:
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,sleep_rem2
69,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,NaN,NaN,7.40,0.00570,0.920,-99.0
75,Eastern american chipmunk,Tamias,herbi,Rodentia,NaN,15.8,NaN,NaN,8.20,NaN,0.112,-99.0
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.00,0.42300,600.000,0.7
78,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.10,0.00250,0.104,2.6
29,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,NaN,22.10,NaN,899.995,0.4
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.60,0.02100,3.600,0.5
24,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.90,0.00350,0.770,3.5
37,Macaque,Macaca,omni,Primates,NaN,10.1,1.2,0.750000,13.90,0.17900,6.800,1.2
76,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.60,0.16900,207.501,1.0
31,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,NaN,17.80,0.32500,85.000,1.5
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.07000,14.000,2.9
44,Slow loris,Nyctibeus,carni,Primates,NaN,11.0,NaN,NaN,13.00,0.01250,1.400,-99.0
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.00,0.09820,14.800,-99.0
71,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,NaN,8.10,NaN,0.205,3.0
59,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,NaN,NaN,18.45,NaN,53.180,-99.0
70,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.20,0.00400,0.101,3.4
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,NaN,20.90,0.41900,187.000,0.4
19,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.00,0.00630,1.700,4.9
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.20,0.00033,0.048,2.0
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.50,0.04450,3.380,-99.0

In [56]:
# imp_mean= SimpleImputer(strategy="mean")
# imp_median= SimpleImputer(strategy="median")
imp3 = SimpleImputer(strategy='constant', fill_value=-99)
df['sleep_rem4'] = imp3.fit_transform(df[['sleep_rem']])
df[df.sleep_rem.isna()][['name','sleep_rem','sleep_rem2','sleep_rem3','sleep_rem4']]

                         name  sleep_rem  sleep_rem2  sleep_rem3  sleep_rem4
69     Arctic ground squirrel        NaN         2.0        1.75       -99.0
75  Eastern american chipmunk        NaN         2.0        1.75       -99.0
44                 Slow loris        NaN         2.0        1.75       -99.0
9                    Roe deer        NaN         2.0        1.75       -99.0
59            Common porpoise        NaN         2.0        1.75       -99.0
81                 Arctic fox        NaN         2.0        1.75       -99.0

In [58]:
#imp_x = SimpleInputer(strategy='mean')
#imp_x = SimpleInputer(strategy='median')
#imp_x = SimpleInputer(strategy='most frequent')

imp_x = SimpleImputer(missing_values=-99, strategy='constant',fill_value=np.nan)

df['sleep_rem5'] = imp_x.fit_transform(df[['sleep_rem4']])
df[df.sleep_rem4==-99.0][['name','sleep_rem4','sleep_rem5']]

                         name  sleep_rem4  sleep_rem5
69     Arctic ground squirrel       -99.0         NaN
75  Eastern american chipmunk       -99.0         NaN
44                 Slow loris       -99.0         NaN
9                    Roe deer       -99.0         NaN
59            Common porpoise       -99.0         NaN
81                 Arctic fox       -99.0         NaN

In [59]:
imp_x = SimpleImputer(strategy='mean')
#imp_x = SimpleInputer(strategy='median')
#imp_x = SimpleInputer(strategy='most frequent')

# imp_x = SimpleImputer(missing_values=-99, strategy='constant',fill_value=np.nan)

df['sleep_rem6'] = imp_x.fit_transform(df[['sleep_rem5']])
df[df.sleep_rem5.isna()][['name','sleep_rem4','sleep_rem5','sleep_rem6']]

                         name  sleep_rem4  sleep_rem5  sleep_rem6
69     Arctic ground squirrel       -99.0         NaN         2.0
75  Eastern american chipmunk       -99.0         NaN         2.0
44                 Slow loris       -99.0         NaN         2.0
9                    Roe deer       -99.0         NaN         2.0
59            Common porpoise       -99.0         NaN         2.0
81                 Arctic fox       -99.0         NaN         2.0